h2{
    text-align: center;
}

.grids{
    background-color: white;
    font-size:0 ;  
    border:none;     
}
.sketch{
    background-color: black   
}
.container{
    margin:auto
}
#button{
    display: flex;
    justify-content: center;
    grid-gap:10px;
    margin:10px 0

}
button{
    background-color: black;
    color:white;
    border:solid 1px black;
    border-radius:5px;
}
